RewriteEngine On
RewriteRule "^index.html$" "index.php"
RewriteRule "^page-not-found$" "404.php"
RewriteRule "^access-denied$" "403.php"
RewriteRule "^unexpected-error$" "500.php"
RewriteRule "^the-loai/([a-zA-Z0-9-]+)$" "index.php?page=theloai&type=$1"
RewriteRule "^the-loai/([a-zA-Z0-9-]+)/trang-([0-9]+)$" "index.php?page=theloai&type=$1&trang=$2"
RewriteRule "^chi-tiet/([a-zA-Z0-9-]+)-([0-9]+)$" "index.php?page=details&title=$1&id=$2"

RewriteRule "^admin/dang-nhap$" "admin/login.php"
RewriteRule "^admin/trang-chu$" "admin/index.php"
RewriteRule "^admin/dang-xuat$" "admin/pages/logout.php"
RewriteRule "^admin/page-not-found$" "admin/pages/404.php"
RewriteRule "^admin/404-file-not-found$" "admin/pages/404-require-file.php"
RewriteRule "^admin/access-denied$" "admin/pages/403.php"
RewriteRule "^admin/unexpected-error$" "admin/pages/500.php"
RewriteRule "^admin/them-tai-khoan-quan-ly$" "admin/add-new-user.php"
RewriteRule "^admin/danh-sach-tai-khoan-quan-ly$" "admin/user-manager.php"
RewriteRule "^admin/them-bai-dang-moi$" "admin/add-new-news.php"
RewriteRule "^admin/quan-ly-bai-dang$" "admin/news-manager.php"
RewriteRule "^admin/nhat-ky-bai-dang$" "admin/news-log.php"
RewriteRule "^admin/phe-duyet-bai-dang$" "admin/approval-news-page.php"
RewriteRule "^admin/thung-rac$" "admin/news-trash.php"
RewriteRule "^admin/cap-nhat-bai-dang/([a-zA-Z0-9-]+)-([0-9]+)$" "admin/news-details.php?title=$1&newsID=$2"

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule "^(.*)$" "404.php" [L]